<section *ngIf="!(afAuth.authState | async)">
    <img src="../../../assets/favicon/favicon.svg" alt="k-from-kanban-logo">
    <h1>K from Kanban</h1>
    <p>A minimal Kanban app made with 💞 by Antxon Eguiguren</p>
    <button
        mat-raised-button
        appGoogleSignin
        (click)="onClickGoogleSignIn()"
    >
        Sign In with Google
    </button>
</section>

<section *ngIf="afAuth.authState | async as user">
    <p>You're already logged in as {{ user.email }}</p>
    <button     
        mat-raised-button
        routerLink="/home"
    >
        Access App
    </button>
</section>