<mat-form-field class="full-width">
    <input
        matInput
        type="text"
        [placeholder]="placeholder"
        [matAutocomplete]="auto"
        [formControl]="selectControl"
    >
        <div class="chip-list-wrapper">
            <mat-chip-list>
                <ng-container *ngFor="let item of selectedData">
                    <mat-chip *ngIf="type === 'users'" (click)="removeChip(item)">
                        {{ item.item.name + ' ' + item.item.surname }}
                        <mat-icon class="mat-chip-remove">cancel</mat-icon>
                    </mat-chip>
                    <mat-chip *ngIf="type === 'tags'" (click)="removeChip(item)">
                        {{ item.item.name }}
                        <mat-icon class="mat-chip-remove">cancel</mat-icon>
                    </mat-chip>
                    <mat-chip *ngIf="type === 'priority'" (click)="removeChip(item)">
                        {{ item.item }}
                        <mat-icon class="mat-chip-remove">cancel</mat-icon>
                    </mat-chip>                    
                </ng-container>
            </mat-chip-list>
        </div>

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let item of filteredData | async">
            <div (click)="optionClicked($event, item)">
                <mat-checkbox
                    *ngIf="type === 'users'"
                    [checked]="item.selected" 
                    (change)="toggleSelection(item)" 
                    (click)="$event.stopPropagation()"
                >
                    {{ item.item.name + ' ' + item.item.surname }}
                </mat-checkbox>
                <mat-checkbox
                    *ngIf="type === 'tags'"
                    [checked]="item.selected" 
                    (change)="toggleSelection(item)" 
                    (click)="$event.stopPropagation()"
                >
                    {{ item.item.name }}
                </mat-checkbox>
                <mat-checkbox
                    *ngIf="type === 'priority'"
                    [checked]="item.selected" 
                    (change)="toggleSelection(item)" 
                    (click)="$event.stopPropagation()"
                >
                    {{ item.item }}
                </mat-checkbox>
            </div>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>