.mat-chip.mat-standard-chip {
    background-color: rgb(36, 51, 185);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
  
.full-width {
    width: 100%;
}
  ​
.chip-list-wrapper {
    min-height: 3em;
}

mat-form-field {
    input {
        margin-bottom: 6px;
        caret-color: white;
    }
}

::ng-deep .mat-checkbox-label {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
}

::ng-deep .mat-form-field-label {
    span {
        font-family: 'Josefin Sans', sans-serif;
    }
}