mat-card {
    margin: 0px auto;
    margin-bottom: 30px;
    background-color: #fff;
    color: black;
    @media (min-width: 768px) {
        width: 200px;
    }
    @media (min-width: 900px) {
        width: 240px;
    }
    @media (min-width: 1024px) {
        width: 280px;
    }
    @media (min-width: 1250px) {
        width: 300px;
    }

    mat-chip {
        font-size: 14px;
        color: black;
        font-family: 'Josefin Sans', sans-serif;
    }

    .mat-chip.mat-standard-chip.mat-chip-disabled {
        opacity: 1;
    }

    .priority.low {
        background-color: #56c944;
    }

    .priority.medium {
        background-color: rgb(252, 165, 3);
    }

    .priority.high {
        background-color: #DE1D3E;
        color: white;
    }

    .tags {
        background-color: transparent !important;
    }

    .tags.dev {
        border: 1px solid #22a6b3;
        color: #22a6b3 !important;
    }

    .tags.ux {
        border: 1px solid #eb4d4b;
        color: #eb4d4b !important;
    }

    .tags.ui {
        border: 1px solid  #6ab04c;
        color: #6ab04c !important;
    }

    .tags.other {
        border: 1px solid #6F1E51;
        color: #6F1E51 !important;
    }

    p {
        font-family: 'Fira Sans', sans-serif;
        font-size: 15px;
        margin-top: 14px;
        font-weight: 300;
    }

    .date {
        font-style: normal;
        font-size: 13px;
        margin-bottom: 0px;
        span {
            font-family: 'Josefin Sans', sans-serif;
            font-style: italic;
            color: #666666;
        }
    }

    .avatars {
        display: flex;
        justify-content: flex-end;
        img {
            width: 35px;
            height: 35px;
            margin: 0px 3px;
            border: .5px solid #666666;
        }
    }

    .task-delayed-icon {
        position: absolute;
        bottom: 12px;
        color: #DE1D3E;
        span {
            font-family: 'Fira Sans', sans-serif;
            font-size: 12px;
            font-weight: 400;
            margin-left: 5px;
            vertical-align: super;
        }
    }
}

mat-card:hover {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
    .edit-task-button,
    .delete-task-button {
        opacity: 1;
    }
}

.edit-task-button {
    position: absolute;
    right: 45px;
    top: 12px;
    color: rgb(85, 85, 85);
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.delete-task-button {
    position: absolute;
    right: 12px;
    top: 12px;
    color: rgb(85, 85, 85);
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.edit-task-button:hover,
.delete-task-button:hover {
    background-color: #eeeeee;
}
.task-delayed-card {
    border-left: 3px solid #DE1D3E;
}