<mat-card [ngClass]="{'task-delayed-card': isDelayed}">
  <ng-content></ng-content>
  <mat-chip
    *ngIf="task?.priority"
    selected
    disabled="true"
    class="priority"
    [ngClass]="
      {
        'low': task?.priority === 'Low',
        'medium': task?.priority === 'Medium',
        'high': task?.priority === 'High'
      }"
  >
    {{ task?.priority }}
  </mat-chip>
  <button mat-icon-button class="edit-task-button" (click)="onClickEditTask(task)">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button class="delete-task-button" (click)="onClickDeleteTask(task)">
    <mat-icon>delete</mat-icon>
  </button>
  <mat-card-content>
    <p *ngIf="task?.description">
      {{ task?.description }}
    </p>
    <mat-chip-list *ngIf="task?.tags" [tabIndex]="-1">
      <mat-chip
        *ngFor="let tag of task?.tags"
        disabled="true"
        class="tags"
        [ngClass]="
          {
            'dev': tag.category === 'DEV',
            'ux': tag.category === 'UX',
            'ui': tag.category === 'UI',
            'other': tag.category === 'OTHER'
          }"
      >
        {{ tag.name }}
      </mat-chip>
    </mat-chip-list>
    <p class="date" *ngIf="task?.createdOn">
      Created on: <span>{{ task?.createdOn?.toDate() | date:'MM/dd/yyyy' }}</span>
    </p>
    <p class="date" *ngIf="task?.dueDate">
      Due date: <span>{{ task?.dueDate?.toDate() | date:'MM/dd/yyyy' }}</span>
    </p>
    <div class="avatars" *ngIf="task?.users">
      <ng-container *ngFor="let user of task?.users">
        <img mat-card-avatar [src]=user.photoUrl>
      </ng-container>
    </div>
    <div *ngIf="isDelayed" class="task-delayed-icon">
      <mat-icon>error_outline</mat-icon><span>Delayed</span>
    </div>
  </mat-card-content>
</mat-card>
