<mat-sidenav-container
  class="container"
  *ngIf="!isLoading; else loading"
>
  <mat-sidenav #sidenav mode="over" class="sidenav-filter">
    <app-filter-form (filters)="receiveFilters($event)"></app-filter-form>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-icon-button class="filter-button" (click)="sidenav.toggle()">
      <mat-icon>filter_list</mat-icon>
    </button>
    <section class="kanban">
      <mat-grid-list cols="3" rowHeight="100px" class="title-grid">
        <ng-container *ngFor="let title of titleCols">
          <mat-grid-tile>
            <h2>{{ title }}</h2>
            <button
              *ngIf="title === 'New' && newTasks.length > 0"
              mat-raised-button
              (click)="onClickNewTask()"
            >
              <mat-icon>create</mat-icon>
              New Task
            </button>
          </mat-grid-tile>
        </ng-container>
      </mat-grid-list>
      <mat-grid-list cols="3" rowHeight="100%" class="task-grid" cdkDropListGroup>
        <mat-grid-tile>
          <div
            *ngIf="newTasks.length > 0"
            cdkDropList
            (cdkDropListDropped)="dropped($event)"
            id="new"
          >
            <div cdkDrag [cdkDragData]="task" *ngFor="let task of newTasks">
              <app-task [task]="task">
                <mat-icon cdkDragHandle class="drag-handler">drag_indicator</mat-icon>
              </app-task>
            </div>
          </div>
          <div
            *ngIf="newTasks.length === 0"
            cdkDropList
            (cdkDropListDropped)="dropped($event)"
            id="new-empty"
            class="empty-tile"
          >
            <img src="/assets/party.png" alt="confetti">
            <button mat-raised-button (click)="onClickNewTask()">
              <mat-icon>create</mat-icon>
              New Task
            </button>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div
              *ngIf="inProgressTasks.length > 0"
              cdkDropList
              (cdkDropListDropped)="dropped($event)"
              id="inProgress"
            >
              <div cdkDrag [cdkDragData]="task" *ngFor="let task of inProgressTasks">
                <app-task [task]="task">
                  <mat-icon cdkDragHandle class="drag-handler">drag_indicator</mat-icon>
                </app-task>
              </div>
            </div>
            <div
              *ngIf="inProgressTasks.length === 0"
              cdkDropList
              (cdkDropListDropped)="dropped($event)"
              id="inProgress-empty"
              class="empty-tile"
            ></div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div
            *ngIf="finishedTasks.length > 0"
            cdkDropList
            (cdkDropListDropped)="dropped($event)"
            id="finished"
          >
            <div cdkDrag [cdkDragData]="task" *ngFor="let task of finishedTasks">
              <app-task [task]="task">
                <mat-icon cdkDragHandle class="drag-handler">drag_indicator</mat-icon>
              </app-task>
            </div>
          </div>
          <div
            *ngIf="finishedTasks.length === 0"
            cdkDropList
            (cdkDropListDropped)="dropped($event)"
            id="finished-empty"
            class="empty-tile"
          ></div>
        </mat-grid-tile>
      </mat-grid-list>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
<ng-template #loading>
  <section class="loading">
    <p>Starting app...</p>
    <mat-spinner></mat-spinner>
  </section>
</ng-template>    