<section *ngIf="isLoading" class="loading">
  <p>Loading data...</p>
  <mat-spinner></mat-spinner>
</section>
<section *ngIf="!isLoading">
  <mat-grid-list cols="3" rowHeight="100px" class="title-grid">
    <ng-container *ngFor="let title of titleCols">
      <mat-grid-tile>
        <h2>{{ title }}</h2>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
  <mat-grid-list cols="3" rowHeight="100%" class="task-grid">
    <mat-grid-tile>
      <div *ngIf="newTasks.length > 0">
        <ng-container *ngFor="let task of newTasks">
          <app-task [task]="task"></app-task>
        </ng-container>
      </div>
      <div *ngIf="newTasks.length === 0" class="empty-tile"></div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div *ngIf="inProgressTasks.length > 0">
        <ng-container *ngFor="let task of inProgressTasks">
          <app-task [task]="task"></app-task>
        </ng-container>
      </div>
      <div *ngIf="inProgressTasks.length === 0" class="empty-tile"></div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div *ngIf="finishedTasks.length > 0">
        <ng-container *ngFor="let task of finishedTasks">
          <app-task [task]="task"></app-task>
        </ng-container>
      </div>
      <div *ngIf="finishedTasks.length === 0" class="empty-tile"></div>
    </mat-grid-tile>
  </mat-grid-list>
</section>
