<form
  *ngIf="!isValidCaptcha || !sendOTPForm.valid || !isOTPSent"
  [formGroup]="sendOTPForm"
  (ngSubmit)="onSubmitSendOTP()"
  autocomplete="off"
>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="text" formControlName="email" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone Number</mat-label>
    <input matInput type="text" formControlName="phoneNumber" />
  </mat-form-field>
  <div id="recaptcha-container"></div>
  <button
    class="submit-button"
    [ngClass]="{ enabled: sendOTPForm.valid && isValidCaptcha }"
    mat-raised-button
    type="submit"
    [disabled]="!sendOTPForm.valid || !isValidCaptcha"
  >
    Send OTP
  </button>
  <button class="submit-button" mat-raised-button (click)="goBack()">
    Back
  </button>
</form>

<form
  *ngIf="isValidCaptcha && sendOTPForm.valid && isOTPSent"
  [formGroup]="verifyOTPForm"
  (ngSubmit)="onSubmitVerifyOTP()"
  autocomplete="off"
>
  <mat-form-field>
    <mat-label>OTP</mat-label>
    <input matInput type="text" formControlName="otp" />
  </mat-form-field>
  <button
    class="submit-button"
    [ngClass]="{ enabled: verifyOTPForm.valid }"
    mat-raised-button
    type="submit"
    [disabled]="!verifyOTPForm.valid"
  >
    Verify OTP
  </button>
  <button
    class="submit-button back-button"
    mat-raised-button
    (click)="goBack()"
  >
    Back
  </button>
</form>
