/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap&family=Josefin+Sans:ital,wght@0,300;1,300;1,700&display=swap');

html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #F9F9F9;
}


// Scrollbar styles for Firefox
* {
    scrollbar-width: thin;
    scrollbar-color: #dfdfdf transparent;
}
  
// Scrollbar styles for Chrome, Edge, and Safari
*::-webkit-scrollbar {
    width: 8px;
}
  
*::-webkit-scrollbar-track {
    background: transparent;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    border-radius: 20px;
}